In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("headbrain.csv")
data

     Gender  Age_Range  Head_Size  Brain_Weight
0         1          1       4512          1530
1         1          1       3738          1297
2         1          1       4261          1335
3         1          1       3777          1282
4         1          1       4177          1590
..      ...        ...        ...           ...
232       2          2       3214          1110
233       2          2       3394          1215
234       2          2       3233          1104
235       2          2       3352          1170
236       2          2       3391          1120

[237 rows x 4 columns]

In [3]:
print(data.shape)

(237, 4)

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gender        237 non-null    int64
 1   Age_Range     237 non-null    int64
 2   Head_Size     237 non-null    int64
 3   Brain_Weight  237 non-null    int64
dtypes: int64(4)
memory usage: 7.5 KB
None

In [6]:
data.isna().any()

Gender          False
Age_Range       False
Head_Size       False
Brain_Weight    False
dtype: bool

In [7]:
data.nunique()

Gender            2
Age_Range         2
Head_Size       221
Brain_Weight    146
dtype: int64

In [16]:
x = data.drop('Brain_Weight',axis=1)
y = data['Brain_Weight']

In [17]:
x.head()

   Gender  Age_Range  Head_Size
0       1          1       4512
1       1          1       3738
2       1          1       4261
3       1          1       3777
4       1          1       4177

In [19]:
y.head()

0    1530
1    1297
2    1335
3    1282
4    1590
Name: Brain_Weight, dtype: int64

In [24]:
model = linear_model.LinearRegression()
model.fit(x,y)
predictions = model.predict(x)

data['Predictions'] = predictions

In [25]:
data

     Gender  Age_Range  Head_Size  Brain_Weight  Predictions
0         1          1       4512          1530  1519.934524
1         1          1       3738          1297  1330.914630
2         1          1       4261          1335  1458.637375
3         1          1       3777          1282  1340.438888
4         1          1       4177          1590  1438.123588
..      ...        ...        ...           ...          ...
232       2          2       3214          1110  1156.435974
233       2          2       3394          1215  1200.394089
234       2          2       3233          1104  1161.075998
235       2          2       3352          1170  1190.137196
236       2          2       3391          1120  1199.661454

[237 rows x 5 columns]

In [27]:
from sklearn.metrics import r2_score
print("R2Score:",r2_score(y,predictions))

R2Score: 0.6528346387526655

In [28]:
print("R-Squared",model.score(x,y))

R-Squared 0.6528346387526655

In [30]:
model.predict([[1,1,4500]])

array([1517.00398287])